<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task Tracker</title>
</head>
<body>
    <p th:text=${test}></p>
 <h1>Task Tracker</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu nunc pulvinar, aliquam nunc a, malesuada diam. Sed mollis dui sed nisi commodo tempor quis a neque. Pellentesque consequat elit tortor, quis ultricies ante congue nec. Ut tempus eros commodo varius malesuada. Pellentesque in odio eget est euismod volutpat at sed mauris. Praesent porta id mauris ut aliquet. Ut tristique feugiat ante, et commodo est vehicula ac. </p>

</body>
</html>